@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@100&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f0f9f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.menu {
  display: none;
}

img {
  max-width: 100%;
}

.img {
  position: relative;
  width: 40%;
  height: 40%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:is(h1, p) {
  margin: 0;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
}

header ul {
  gap: 2em;
}

header a {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header img {
  width: 40px;
}

header .title-show {
  display: none;
}

header h3 {
  font-size: 18px;
  line-height: 0.9;
}

.menu {
  width: 40px;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-list {
  margin: 0 auto;
}

.primary-list a {
  font-size: 14px !important;
  color: black;
}

.primary-list li a::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: red;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.primary-list li:hover a::after {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}

.secondary-list {
  margin-left: 0;
}

.secondary-list a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.secondary-list li {
  background-color: #18db69;
  padding: 0.3em 1em;
  border-radius: 30px;
}

section.container {
  max-width: 85%;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.content {
  max-width: 600px;
  z-index: 1;
}

.content h1 {
  width: 100%;
  font-size: 3.2rem;
  margin: auto;
}

.content p {
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.521);
}

.media-images {
  gap: 10px;
  background-color: #fff;
  margin: auto 0;
  padding: 1.5em;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.308);
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media-images img {
  width: 30%;
  margin: auto 0;
}

.btn {
  padding: .2em 1em;
  background-color: #18db69;
  border-radius: 30px;
  color: #fff;
  margin: auto 0;
  font-weight: bold;
}

.hero-butons {
  margin: 1em;
  gap: 1em;
}

.hero-butons img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.hero-butons h4 {
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .menu {
    display: block;
  }
  .toggleMenu {
    position: absolute;
    right: 10px;
    padding: 2em;
    z-index: 1000;
  }
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    max-height: 0;
    opacity: 0;
  }
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .navigation.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    max-height: 100%;
    opacity: 1;
    background-color: #008d3d;
    z-index: 999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .secondary-list {
    margin-top: 2em;
  }
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
  }
}

@media screen and (max-width: 360px) {
  header .title-show {
    display: block;
  }
  header h3 {
    display: none;
  }
}

@media screen and (max-width: 355px) {
  .hero-butons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .hero-butons img {
    margin: auto 2px;
  }
}

@media screen and (max-width: 260px) {
  .media-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .content h1 {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) {
  nav .primary-list {
    overflow: auto;
  }
}
/*# sourceMappingURL=styles.css.map */